.listeCaca {
    display: flex;
    justify-content: center;
}

.histoire-list {
    max-width: 40vw;
}

.histoire-preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 35px 0;
    
}