@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  background: linear-gradient(90deg,#392955 0%,#3a6294 100%) fixed;
  font-family: raleway, sans-serif;
  margin: 0px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15vh;
  /* height: 100vh; */
}

header h1 {
  font-size: 70px;
  color: white;
}

header img {
  width: 20%;
  margin-bottom: 15px;
}

header p {
  font-size: 40px;
  color: white;
}

header .ajouter {
  padding: 10px;
  text-decoration: none;
          
  background-image: linear-gradient(to right, #614385 0%, #516395  51%, #614385  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 2px #eee;
  border-radius: 10px;
  display: block;
  border: none;
  cursor: pointer;
}

header button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
